# Gradle
.gradle/
build/

# IntelliJ IDEA / Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/copyright/
!.idea/inspectionProfiles/
!.idea/icon.png

# Local properties
local.properties

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
*.class
*.apk
*.aar

# Log files
*.log

# Captures
captures/

# External native build
.externalNativeBuild/
.cxx/
